{% extends 'journal/base.html' %}

{% block content %}
    <h2>On This Day</h2>
    {% for on_today in todays %}
    <div>
        <h3><a href="{% url 'entry_detail' pk=entry.pk %}">{{ on_today.title }}</a></h3>
        <p>Written: {{ on_today.created_date }}</p>
        <p>{{ on_today.content|truncatechars:500 }}</p>
        <p>Last read: {{ entry.date_last_read }}</p>
    </div>
    {% empty %}
    <p>No entries on this day.</p>
    {% endfor %}
    <h2>Recent Entries</h2>
    {% for entry in entries %}
    <div>
        <h3><a href="{% url 'entry_detail' pk=entry.pk %}">{{ entry.title }}</a></h3>
        <p>Written: {{ entry.created_date }}</p>
        <p>{{ entry.content|truncatechars:500 }}</p>
        <p>Last read: {{ entry.date_last_read }}</p>
    </div>
    {% endfor %}
{% endblock %}
