{% extends 'journal/base.html' %}

{% block content %}
<div class="row" style="height:100%; margin-top:15px; margin-bottom:15px;">
    <div class="col-md-2" style="height:inherit; border-right:1px solid #000066;">
        <ul id="yearTree">
            {% for year, months in entries.items %}
                <li><span class="caret">{{ year }}</span>
                    <ul class="nested">
                    {% for month, entry in months.items %}
                        <li><span class="caret">{{ month }}</span>
                        <ul class="nested">
                            {% for e in entry %}
                                <li class="entry" onclick="entryClick({{ e.id }})">{{ e.title }}</li>
                            {% endfor %}
                        </ul>
                        </li>
                    {% endfor %}
                    </ul>
                </li>
            {% endfor %}
        </ul>
        <div style="text-align:center;">
            <button id="newEntryButton" class="btn btn-light" onclick="newEntry()">New Entry</button>
        </div>
    </div>
    <div class="col-md-8">
        <div id="entryReadOnly">
            <h2 id="entryTitle">{{ selected.title }}</h2>
            <p id="entryDate">{{ selected.created_date}}</p>
            <hr id="entryLineBreak" style="display:none;">
            <p id="entryContent">{{ selected.content }}</p>
        </div>
        <div id="entryContainer" style="display:none;">
            <form id="entryForm" action="/newentry" method="post">
                {% csrf_token %}
                <div class="form-group">
                    <input type="text" class="form-control" id="id_title" name="title">
                </div>
                <div class="form-group">
                    <input type="date" class="form-control" id="id_created_date" name="created_date">
                </div>
                <div class="form-group">
                    <textarea class="form-control" rows="20" id="id_content" name="content"></textarea>
                </div>
                <div style="text-align:right;">
                    <button class="btn btn-primary" type="submit">Submit</button>
                </div>
            </form>
        </div>
    </div>
    <div class="col-md-2">
        <!-- <i class="fa fa-plus-circle" style="font-size:70px; color:#369; float:right; margin-right:15px;"/> -->
        <button id="editButton" class="btn btn-info" style="display:none;" onclick="editEntry()">Edit</button>
        <button id="deleteButton" class="btn btn-danger" style="display:none;" onclick="deleteEntry()">Delete</button>
    </div>
</div>
<div class="toast">
    <div class="toast-header">
      <strong class="mr-auto text-primary">Toast Header</strong>
      <small class="text-muted">5 mins ago</small>
      <button type="button" class="ml-2 mb-1 close" data-dismiss="toast">&times;</button>
    </div>
    <div class="toast-body">
      Some text inside the toast body
    </div>
</div>
<style>
    html, body {
        height: 100%;
    }
    .tree, .tree ul {
    margin:0;
    padding:0;
    list-style:none
    }
    .tree ul {
        margin-left:1em;
        position:relative
    }
    .tree ul ul {
        margin-left:.5em
    }
    .tree ul:before {
        content:"";
        display:block;
        width:0;
        position:absolute;
        top:0;
        bottom:0;
        left:0;
        border-left:1px solid
    }
    .tree li {
        margin:0;
        padding:0 1em;
        line-height:2em;
        color:#369;
        font-weight:700;
        position:relative
    }
    .tree ul li:before {
        content:"";
        display:block;
        width:10px;
        height:0;
        border-top:1px solid;
        margin-top:-1px;
        position:absolute;
        top:1em;
        left:0
    }
    .tree ul li:last-child:before {
        background:#fff;
        height:auto;
        top:1em;
        bottom:0
    }
    .indicator {
        margin-right:5px;
    }
    .tree li a {
        text-decoration: none;
        color:#369;
    }
    .tree li button, .tree li button:active, .tree li button:focus {
        text-decoration: none;
        color:#369;
        border:none;
        background:transparent;
        margin:0px 0px 0px 0px;
        padding:0px 0px 0px 0px;
        outline: 0;
    }
    .entry {
        cursor: pointer;
    }
</style>
<script>
    var selectedEntryId;

    function newEntry(){
        $('#entryReadOnly').hide();
        $('#entryContainer').show();
        $('.toast').toast('show');
    }

    function deleteEntry(){
        var url = 'entry/' + selectedEntryId + '/delete/';
        $.ajax({
            url: url,
            type: 'post',
            success: function(status){
                $('.toast').toast('show');
            }
        });
    }

    function editEntry(){
        $('#id_title').val($('#entryTitle').text());
        $('#id_content').val($('#entryContent').text());
        $('#id_created_date').val($('#entryDate').text())
        $('#entryReadOnly').hide();
        $('#entryForm').attr('action', 'entry/' + selectedEntryId + '/edit/');
        $('#entryContainer').show();
    }

    function entryClick(entryId){
        var url = '/entry/' + entryId;
        $.ajax({
           url: url,
           type: 'get',
           success: function(entryObj){
               var entry = JSON.parse(entryObj.entry)[0];
               selectedEntryId = entryId;
               var date = new Date(entry.fields.created_date);
               $('#entryTitle').text(entry.fields.title);
               $('#entryContent').text(entry.fields.content);
               $('#entryDate').text(date.toDateString());
               $('#entryLineBreak').show();
               $('#editButton').show();
               $('#deleteButton').show();
           }
        });
    }

   $.fn.extend({
    treed: function (o) {

      var openedClass = 'fa fa-minus-circle';
      var closedClass = 'fa fa-plus-circle';

      if (typeof o != 'undefined'){
        if (typeof o.openedClass != 'undefined'){
        openedClass = o.openedClass;
        }
        if (typeof o.closedClass != 'undefined'){
        closedClass = o.closedClass;
        }
      };

        //initialize each of the top levels
        var tree = $(this);
        tree.addClass("tree");
        tree.find('li').has("ul").each(function () {
            var branch = $(this); //li with children ul
            branch.prepend("<i class='indicator glyphicon " + closedClass + "'></i>");
            branch.addClass('branch');
            branch.on('click', function (e) {
                if (this == e.target) {
                    var icon = $(this).children('i:first');
                    icon.toggleClass(openedClass + " " + closedClass);
                    $(this).children().children().toggle();
                }
            })
            branch.children().children().toggle();
        });
        //fire event from the dynamically added icon
      tree.find('.branch .indicator').each(function(){
        $(this).on('click', function () {
            $(this).closest('li').click();
        });
      });
        //fire event to open branch if the li contains an anchor instead of text
        tree.find('.branch>a').each(function () {
            $(this).on('click', function (e) {
                $(this).closest('li').click();
                e.preventDefault();
            });
        });
        //fire event to open branch if the li contains a button instead of text
        tree.find('.branch>button').each(function () {
            $(this).on('click', function (e) {
                $(this).closest('li').click();
                e.preventDefault();
            });
        });
    }
});

//Initialization of treeviews

$('#yearTree').treed();
</script>
{% endblock %}